body{
   margin: 0;
   padding: 0;
   /* background: transparent; */
   background-color: #d3d3d3;
   background-image: url(../images/mobile-body.png);
  
   background-size: cover; 
   background-repeat: no-repeat;
   font-family: Arial, Helvetica, sans-serif;
}


/* line-s-m = line seperator mobile */
/* line-s2-m = line seperator 2 mobile */

/* sub = subscribe input box  */
/* vid = place holder for video div  */
/* details-m = view details button */


.animation{
   display: none;
}
.hidden{
   display: none;
}
h2{
   font-size: 40px;
}

ul{
list-style: none;    
}

a {
   color: white; 
   text-decoration: none;
}



#section7 div, #section5 div, #section6 div{
   text-align: center;
   
}
/* ---------HIDDEN NON-HIDDEN */

.banner1-t{
   display: none;
}


/* -----------BLUR--------- */
.blur {
   position: relative; 
}

.blur::before {
   content: ""; 
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(240, 248, 255, 0.5);
   backdrop-filter: blur(11px);
   -webkit-backdrop-filter: blur(8.5px);
   z-index: -1;
   border-radius: inherit; 
   opacity: 0.999;
  
}

/* .blur{
   background-color: rgba(240, 248, 255, 0.5);
   backdrop-filter: blur(8.5px);
   -webkit-backdrop-filter: blur(8.5px); 
   z-index: 0;
   opacity: 0.8;
} */


/* ----------------SECTION------------------- */
/* section div{
   text-align: center;
} */

/* ----------------header----------- */

header{
   margin: 17px;
}

.nav-m {
   width: 337px;
   height: 53px;
   border-radius: 17px;
}





#hamburger-menu{
   margin-top: 1px;
   margin-left: 20px;
   width: 100px;
   
}

#sign-in-m {
   margin-top: 7px;
   margin-left: -6px;
   width: 100px;
}

/* -------------------------NAVIGATION------------------------------ */


.main-nav ul li{
   display: flex;
   flex-direction: row;
   row-gap: 5px;
   /* margin: 0px 0px 0px 0px; */

}

.leaf-con {
   font-size: 72%;
   margin: 20px 0px 0px -60px  ;
}
.leaf-con ul li a {
   margin-right: 20px;
}

/* ---------------------section1----------- */

.logo-m{
   width: 60vh;
   height: 33vh;
   margin-left: -110px;
   margin-top: 0px;

   display: flex;
   justify-content: center; 
   align-items: center;
   border-radius: 17px;    

}

.logo-m img{
   width: 82%; 
   height: 100%; 
}


#section1 .blur:nth-child(2) {
   text-align: center;
   height: 178px; 
   width: 198px;
   margin-left: -92px;
   margin-top: 18px;
   border-radius: 17px;   
}

#section1 .blur:nth-child(3) {
   text-align: center;
   height: 178px; 
   width: 198px; 
   margin-left: 0px;
   margin-top: 18px;
   border-radius: 17px;   
}


/* ----section1 button--- */

.log-in-m {
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   padding: 10px 20px;
   cursor: pointer; 
   border-radius: 5px; 
   transition: background-color 0.3s; 
   margin-top: 21px;
   margin-bottom:2px ;
   font-size: 19px;
   width: 166px;
   height: 53px;
}

.log-in-m:hover {
   background-color: #45a049;
}

.log-in-m:active {
   background-color: #3e8e41; 
}




/* ----------------SECTION2 ----------------- */


.banner1-m{
   position: relative;
   width: 200px;
   height: 200px;
   margin-top: -194px;
   margin-left: 21px;
  

}



.s2t{
   text-align: right;
   height: 193px; 
   width: 254px; 
   margin-left: -43px;
   margin-top: 18px;
   border-radius: 17px;     
}

.s2t p{
margin-left: 70px;
margin-right: 25px;
}


/* ----------section2 button------- */

.shop-m{
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   padding: 10px 20px;
   cursor: pointer; 
   border-radius: 5px; 
   transition: background-color 0.3s; 
   margin-top: 14px;
   margin-right: 30px;
   margin-bottom:-19px ;
}

.shop-m:hover {
   background-color: #45a049;
}

.shop-m:active {
   background-color: #3e8e41; 
}


/* ----------------SECTION3----------------- */

#section3 .b1 {
   margin: 10px;
}

/* #section3 {
   margin: 0;
} */
  

#section3 .blur #img1{
   display: block;
}

#section3  img{
   width: 100%;
   margin-top: -7px;
}

.b1{
   border-radius: 17px;
}


/* ----------section3 button------- */

.details-m{
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   padding: 10px 10px;
   cursor: pointer; 
   border-radius: 5px; 
   transition: background-color 0.3s; 
   font-size: 93%;
   margin: -2px 0px 7px 15px;
   width: 116px;
   
}

.details-m:hover {
   background-color: #45a049;
}

.details-m  :active {
   background-color: #3e8e41; 
}



/* ----------------SECTION4----------------- */

#section4 .sec4-img {
   margin: 10px;
}

#section4 div{
   height: 95%;
   border-radius: 35px;
   margin-bottom: 10px;
}

#section4 img{
   width: 100%;
}

#section4 p, #section4 h2 {
padding: 12px;
}





/* --------------- */



.sec4-txt{
   display: none;
}


/* ----------------- */


/* ----------------SECTION5----------------- */

#section5 .vid {
   margin: 10px;
}

.vid{
   border-radius: 17px;
}

.vid img{
   margin: 94px 9px 86px 0px;

}


/* ----------------SECTION6----------------- */

#section6 div{
   margin: 10px;
   border-radius: 17px;
}

.reviews{
   justify-content: center; 
   align-items: center;
}

/* ----------------SECTION7----------------- */

.sec7-txt{
   text-align: center;
   border-radius: 17px;
   margin: 10px;
}


.sec7-txt p{
   
   font-size: 24px;
   margin: 0 24px 24px 24px;
}








/* -------------------FOOTER------------ */


/* -------------------line-s-m------------ */

footer p, footer a, footer h4{
   color: rgb(255, 255, 255);
}

#line-s-m{
  
   border-bottom: 4px solid rgb(255, 255, 255);
}

.subscribe-m {
   width: 200px;
   margin: 8px 23px 0px -18px;
}

/* ----------------------------------[ */

.f-logo-m{
margin: 31px 0px -25px 16px;
}

.f-logo-m img{
   width: 216%;
}



/*  */

#ul1{

   margin:  56px 0px 0px -26px;
   font-size: 75%;
   /* white-space: nowrap; */
}

#ul2{
   margin:  56px 0px 0px -49px;
   font-size: 75%;
   /* white-space: nowrap; */
}

#sub{
   
   /* margin: -203px  0px 0px -31px; */
   margin: -77px  0px 0px -31px;
   display: flex;
   align-items: center;
}


/*-------------------- input styling------------------- */

#email-input {
   width: 200px;
   background-color: transparent; 
   border: 1px solid #8c8c8c; 
   border-radius: 10px; 
   padding: 8px; 
   outline: none; 
   /* width: calc(100% - 100px);  */
   opacity: 0.7; 
}



#subscribe-btn {
   background-color: #ffffff; 
   color: #000000; 
   border: none; 
   margin: 0px 0px 0px -74px;
   padding: 8px 7px; 
   border-radius: 0 10px 10px 0; 
   cursor: pointer; 
}




/*-------------------- email butn and talk with us butn styling---------- */

#email-m button, #call-m button {
   background-color: #fff; 
   color: #000000;
   border: none; 
   border-radius: 10px; 
   padding: 8px 11px;
   cursor: pointer; 
}

#email-m button:hover, #call-m button:hover {
   background-color: #007bff; 
   color: #fff; 
}


/*  */

#email-m, #call-m{
   margin:  -79px 0px 8px -32px;
}

#email-m p, #call-m p{
   margin-left:  15px;
}



/* ------------------line-s2-m------------ */

#line-s2-m p{
   margin: -11px 0px 21px 0px ;
   font-size: 70%;
   white-space: nowrap;
}

#connect-m{
   margin: 8px 0px 8px -60px ;
}
#socials-m{
   
   margin: -4px 0px 8px 46px ;
}

#socials-m img{

   width: 80%;
}







/* ______________________GRIDS________________ */

.grid-con {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   grid-column-gap: 30px;
   max-width: 1200px;
   margin: 0 auto;
   /* padding-left: 15px; */
   /* padding-right: 15px; */
}


.col-span-1 {grid-column: span 1 / span 1;}
.col-span-2 {grid-column: span 2 / span 2;}
.col-span-3 {grid-column: span 3 / span 3;}
.col-span-4 {grid-column: span 4 / span 4;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1   {grid-column-start: 1;}
.col-start-2   {grid-column-start: 2;}
.col-start-3   {grid-column-start: 3;}
.col-start-4   {grid-column-start: 4;}

.col-end-1  {grid-column-end: 1;}
.col-end-2  {grid-column-end: 2;}
.col-end-3  {grid-column-end: 3;}
.col-end-4  {grid-column-end: 4;}
.col-end-5  {grid-column-end: 5;}

.leaf-con {
   font-size: 72%;
   margin: 20px 0px 0px -60px  ;
}
.leaf-con ul li a {
   margin-right: 20px;
}

/* ----------------------TABLET----------- */
@media screen and (min-width: 768px) {

   body{
      
     
      background-color: #d3d3d3;
      background-image: url(../images/desk-body.png);
     
      background-size: cover; 
      background-repeat: no-repeat;
   }




  /* -------------- HEADER------------- */

  header{
   margin: 24px;
}

.nav-m {
   width: 638px;
   height: 82px;
   border-radius: 17px;
}

.main-nav ul li{
   display: flex;
   flex-direction: row;
   row-gap: 5px;
   /* margin: 0px 0px 0px 0px; */

}

.leaf-con {
   font-size: 139%;
   margin: 31px 0px 0px 43px ;
}
.leaf-con ul li a {
   /* color: #fff; */
   margin-right: 35px;
}


#hamburger-menu{
   margin-top: -3px;
   margin-left: 20px;
   width: 100px;
   
}



#sign-in-m {
   margin-top: 10px;
   margin-left: -6px;
   width: 100px;
}


#hamburger-menu img, #sign-in-m img{
   width: 80px;
   height: auto;
}




/* ---------------------section1----------- */

.logo-m{
   width: 29vh;
   height: 25vh;
   margin-left: 0px;
   margin-top: 0px;

   display: flex;
   justify-content: center; 
   align-items: center;
   border-radius: 17px;    

}

.logo-m img{
   width: 82%; 
   height: 100%; 
}


#section1 .blur:nth-child(2) {
   text-align: center;
   height: 185px; 
   width: 198px;
   margin-left: -9px;
   margin-top: 0px;
   border-radius: 17px;   
}

#section1 .blur:nth-child(3) {
   text-align: center;
   height: 185px; 
   width: 264px; 
   margin-left: 31px;
   margin-top: 0px;
   border-radius: 17px;   
}

/* ----------------SECTION2 ----------------- */

.banner1-m{
   display: none;

}

.banner1-t{
   display: block;
   position: relative;
   width: 392px;
   height: 268px;
   margin-top: -269px;
   margin-left: 1px;
   background-image: url(../images/banner1-t.png);
   background-size: cover;
   background-repeat: no-repeat;
}


.s2t{
   text-align: left;
   height: 270px; 
   width: 401px; 
   margin-left: 20px;
   margin-top: 11px;
   border-radius: 17px;     
}

.s2t p{
   /* align-self: self-start; */
   font-size: 23px ;
margin-left: 70px;
margin-right: 25px;
}


/* ----------section2 button------- */

.shop-m{
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   padding: 10px 20px;
   cursor: pointer; 
   border-radius: 5px; 
   transition: background-color 0.3s; 
   margin-top: 25px;
   margin-left: 72px;
   margin-bottom:-19px ;
}

.shop-m:hover {
   background-color: #45a049;
}

.shop-m:active {
   background-color: #3e8e41; 
}


/* ----------------SECTION3----------------- */

/* #section3 {
   
   margin: 0PX;

} */
#section3 .blur #img1{
   display: none;
}
/* #section3 .blur #img2{
   display: block;
} */


/* #section3  img{
   width: 100%;
   margin-top: -17px;
   margin-left: -28px;
} */

.b1{
   width: 99%;
   height: 100%;
   background: radial-gradient(circle, #BA64A5, #5D3253);
   background-position: top;
   background-size: 100% 80%;
   border-radius: 17px;
}


/* ----------section3 button------- */

.details-m{
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   padding: 10px 10px;
   cursor: pointer; 
   border-radius: 5px; 
   transition: background-color 0.3s; 
   font-size: 93%;
   margin: 304px 3px 13px 20px;
   width: 119px;
   height: 50px;
   
}

.details-m:hover {
   background-color: #45a049;
}

.details-m  :active {
   background-color: #3e8e41; 
}


/* ----------------SECTION4/SECTION7 animation----------------- */

#section4, #section7{
   display: none;
}

.animation{
   display: block;
}


.animation {
   width: 100%;
   display: flex;
}

#section4-b {
   height: 100%;
   flex: 1;
   margin: 30px 10px 10px 10px;
   transition: flex 0.5s ease;
   cursor: pointer;
}


#section7-b {
   /* height: 100%; */
   flex: 1;
   margin: 30px 10px 10px 10px;
   transition: flex 0.5s ease;
   cursor: pointer;
}

/* #section4-b:hover {
   flex: 0;
} */

/* #section7-b:hover {
   flex: 0;
} */

#section4-b div {
   border-radius: 17px;
   margin-bottom: 10px;
  
}


 #section7-b div {
   border-radius: 17px;
   margin-bottom: 10px;
   display: flex;
    border-radius: 17px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}


#section4-b img {
   
   width: 100%;

}

.sec4-b-img::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(240, 248, 255, 0.5);
   backdrop-filter: blur(11px);
   -webkit-backdrop-filter: blur(8.5px);
   z-index: -1;
   border-radius: inherit;
   opacity: 0;
}

#section4-b p, #section4-b h2 {
   padding: 12px;
}

/*  */

#section7-b p {
    font-size: 106%;
    padding: 0% 10% 10% 10%;
}
/* ----------------SECTION4   animation----------------- */


/* #section4-b {
   margin: 10px;
}

#section4-b div{
   border-radius: 17px;
   margin-bottom: 10px;
}

#section4-b img{
   width: 100%;
}

#section4-b p, #section4-b h2 {
padding: 12px;
} */




/* ----------------SECTION7 animation----------------- */

/* .sec7-b-txt{
   text-align: center;
   border-radius: 17px;
   margin: 10px;
}


.sec7-b-txt p{
   
   font-size: 24px;
   margin: 0 24px 24px 24px;
} */




/* -------------------FOOTER------------ */


/* -------------------line-s-m------------ */

/* footer p, footer a, footer h4{
   color: rgb(255, 255, 255);
}

#line-s-m{
  
   border-bottom: 4px solid rgb(255, 255, 255);
}

.subscribe-m {
   width: 200px;
   margin: 27px 0px 0px 45px;
} */


/* ----------------------------------[ */

.f-logo-m{
margin: 34px 0px 33px 16px;
}

.f-logo-m img{
   width: 216%;
}



/*  */

#ul1{

   margin: -117px 0px 0px -41px;
    font-size: 100%;
   /* white-space: nowrap;*/
}

#ul2{
   margin:  -117px 0px 0px -49px;
   font-size: 100%;
   /* white-space: nowrap; */
}

#sub{
   
  /* margin: -203px 0px 0px -31px; */
    margin: -144px 0px 0px 10px;
    display: flex;
    align-items: center;
}



/*-------------------- input styling------------------- */



.subscribe-m {
   width: 200px;
   margin: 8px 23px 0px 20px;
}





/*  */

#email-m, #call-m{
   display: none;
   margin:  -79px 0px 8px -32px;
}

#email-m p, #call-m p{
   margin-left:  15px;
}



/* ------------------line-s2-m------------ */


#line-s2-m a{
margin: 19px 7px -11px 2px;
}

#line-s2-m p{
   margin: 23px 0px 36px 0px;
   font-size: 100%;
   white-space: nowrap;
}

#connect-m{
   margin: 8px 0px 8px 71px ;
}
#connect-m {
   margin: 13px 0px 9px -29px;
}

#socials-m img{
   margin: -8px -2px -11px -28px;

   width: 80%;
}




/* ------------------------------------------------------- */

   .grid-con {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 20px;
      padding-left: 15px;
      padding-right: 15px;
   }

   .m-col-span-1  {grid-column: span 1 / span 1;}
   .m-col-span-2  {grid-column: span 2 / span 2;}
   .m-col-span-3  {grid-column: span 3 / span 3;}
   .m-col-span-4  {grid-column: span 4 / span 4;}
   .m-col-span-5  {grid-column: span 5 / span 5;}
   .m-col-span-6  {grid-column: span 6 / span 6;}
   .m-col-span-7  {grid-column: span 7 / span 7;}
   .m-col-span-8  {grid-column: span 8 / span 8;}
   .m-col-span-9  {grid-column: span 9 / span 9;}
   .m-col-span-10 {grid-column: span 10 / span 10;}
   .m-col-span-11 {grid-column: span 11 / span 11;}
   .m-col-span-12 {grid-column: span 12 / span 12;}
   .m-col-span-full {grid-column: 1 / -1;}

   .m-col-start-1 {grid-column-start: 1;}
   .m-col-start-2 {grid-column-start: 2;}
   .m-col-start-3 {grid-column-start: 3;}
   .m-col-start-4 {grid-column-start: 4;}
   .m-col-start-5 {grid-column-start: 5;}
   .m-col-start-6 {grid-column-start: 6;}
   .m-col-start-7 {grid-column-start: 7;}
   .m-col-start-8 {grid-column-start: 8;}
   .m-col-start-9 {grid-column-start: 9;}
   .m-col-start-10   {grid-column-start: 10;}
   .m-col-start-11   {grid-column-start: 11;}
   .m-col-start-12   {grid-column-start: 12;}
   .m-col-start-13   {grid-column-start: 13;}

   .m-col-end-1   {grid-column-end: 1;}
   .m-col-end-2   {grid-column-end: 2;}
   .m-col-end-3   {grid-column-end: 3;}
   .m-col-end-4   {grid-column-end: 4;}
   .m-col-end-5   {grid-column-end: 5;}
   .m-col-end-6   {grid-column-end: 6;}
   .m-col-end-7   {grid-column-end: 7;}
   .m-col-end-8   {grid-column-end: 8;}
   .m-col-end-9   {grid-column-end: 9;}
   .m-col-end-10  {grid-column-end: 10;}
   .m-col-end-11  {grid-column-end: 11;}
   .m-col-end-12  {grid-column-end: 12;}
   .m-col-end-13  {grid-column-end: 13;}
}





@media screen and (min-width: 1200px) {
   


   body{
      
     
      background-color: #d3d3d3;
      background-image: url(../images/xl-body.png);
     
      background-size: cover; 
      background-repeat: no-repeat;
   }

   /* -------------- HEADER------------- */

   header{
      margin: 24px;
  }

   .nav-m {
      width: 738px;
      height: 81px;
      border-radius: 17px;
   }
   
   .main-nav ul li{
      display: flex;
      flex-direction: row;
      row-gap: 5px;
      /* margin: 0px 0px 0px 0px; */
   
   }
   
   .leaf-con {
      font-size: 154%;
      margin: 20px 0px 0px 62px  ;
   }
   .leaf-con ul li a {
      /* color: #fff; */
      margin-right: 35px;
   }
   

   #hamburger-menu{
      margin-top: -3px;
      margin-left: 20px;
      width: 100px;
      
   }

  
   
   #sign-in-m {
      margin-top: 10px;
      margin-left: -6px;
      width: 100px;
   }


   #hamburger-menu img, #sign-in-m img{
      width: 80px;
      height: auto;
   }

  



   /* ---------------Section1 ----------*/

   .logo-m {
      width: 48vh;
      height: 25vh;
      margin-left: 76px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 17px;
  }


  #section1 .blur:nth-child(2) {
   text-align: center;
   height: 185px;
   width: 293px;
   margin-left: -62px;
   margin-top: 0px;
   border-radius: 17px;
}

#section1 .blur:nth-child(3) {
   text-align: center;
   height: 185px;
   width: 48vh;
   margin-left: -57px;
   margin-top: 0px;
   border-radius: 17px;
}



 /* ---------------Section2 ----------*/

.banner1-m {
   display: none;
}



.banner1-t {
   display: block;
   position: relative;
   width: 572px;
   height: 387px;
   margin-top: -380px;
   margin-left: 76px;
   background-image: url(../images/banner1-t.png);
   background-size: cover;
   background-repeat: no-repeat;
}



.s2t {
   text-align: left;
   height: 380px;
   width: 573px;
   margin-left: -66px;
   margin-top: 11px;
   border-radius: 17px;
}



 /* ---------------Section2 button ----------*/

.shop-m {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 16px 27px;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s;
   margin-top: 25px;
   margin-left: 106px;
   margin-bottom: -19px;
}


.s2t p {
   
   font-size: 23px;
   margin-left: 113px;
   margin-right: 25px;
}


  

 /* ---------------Section3 ----------*/

 #section3 {
   margin-bottom: 10px;
}
  
#section7-b h2{

font-size: 51px;
}

#section7-b p {
    font-size: 139%;
    padding: 0% 10% 10% 10%;

}

  
/* -------------------FOOTER------------ */


/* -------------------line-s-m------------ */

/* footer p, footer a, footer h4{
   color: rgb(255, 255, 255);
}

#line-s-m{
  
   border-bottom: 4px solid rgb(255, 255, 255);
}
*/

.subscribe-m {
   width: 244px;
    margin: 28px 0px 0px 35px;
    white-space: nowrap;
} 


.subscribe-m p{
   font-size: 19px;
}


/* ----------------------------------[ */

.f-logo-m{
   margin: 34px 0px 33px 16px;
   }
   
   .f-logo-m img{
      width: 158%;
   }
   
   
   
   /*  */
   
   #ul1{
   
      margin: -117px 0px 0px -41px;
       font-size: 135%;
      /* white-space: nowrap;*/
   }
   
   #ul2{
      margin:  -117px 0px 0px -49px;
      font-size: 135%;
      /* white-space: nowrap; */
   }
   
   #sub{
      
     /* margin: -203px 0px 0px -31px; */
       margin: -178px 0px 0px 10px;
       display: flex;
       align-items: center;
   }
   
   
   
   /*-------------------- input styling------------------- */
   
   
   #email-input {
      width: 265px;
      height: 40px;
      background-color: transparent;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 8px;
      outline: none;
      /* width: calc(100% - 100px); */
      opacity: 0.7;
  }

  #subscribe-btn {
   background-color: #ffffff;
   color: #000000;
   border: none;
   margin: 0px 0px 0px -74px;
   padding: 20px 7px;
   border-radius: 0 10px 10px 0;
   cursor: pointer;
}
   .subscribe-m {
      width: 220px;
      margin: 28px 0px 0px 43px;
  
   }
   
   
   
   
   
   /*  */
   
   #email-m, #call-m{
      display: none;
      margin:  -79px 0px 8px -32px;
   }
   
   #email-m p, #call-m p{
      margin-left:  15px;
   }
   
   
   
   /* ------------------line-s2-m------------ */
   #line-s2-m a {
      margin: 26px 6px -21px 42px;
  }
   
   #line-s2-m #a1 {
      margin: 19px 7px -11px 4px;
  }

   #line-s2-m #a2{
      margin: 13px 7px -14px 92px;
    font-size: 27px;
   }
   
   #line-s2-m p{
      margin: 23px 0px 36px 0px;
      font-size: 100%;
      white-space: nowrap;
   }
   
   #connect-m{
      margin: 8px 0px 8px 71px ;
   }
   #connect-m {
      margin: 13px 0px 9px -29px;
   }
   
   #socials-m img{
      margin: -8px -2px -11px -28px;
   
      width: 80%;
   }
   

 /* ------------------------------------------------- */
  

   .grid-con2 {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 30px;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1920px;
   }

   .l-col-span-1  {grid-column: span 1 / span 1;}
   .l-col-span-2  {grid-column: span 2 / span 2;}
   .l-col-span-3  {grid-column: span 3 / span 3;}
   .l-col-span-4  {grid-column: span 4 / span 4;}
   .l-col-span-5  {grid-column: span 5 / span 5;}
   .l-col-span-6  {grid-column: span 6 / span 6;}
   .l-col-span-7  {grid-column: span 7 / span 7;}
   .l-col-span-8  {grid-column: span 8 / span 8;}
   .l-col-span-9  {grid-column: span 9 / span 9;}
   .l-col-span-10 {grid-column: span 10 / span 10;}
   .l-col-span-11 {grid-column: span 11 / span 11;}
   .l-col-span-12 {grid-column: span 12 / span 12;}
   .l-col-span-full {grid-column: 1 / -1;}

   .l-col-start-1 {grid-column-start: 1;}
   .l-col-start-2 {grid-column-start: 2;}
   .l-col-start-3 {grid-column-start: 3;}
   .l-col-start-4 {grid-column-start: 4;}
   .l-col-start-5 {grid-column-start: 5;}
   .l-col-start-6 {grid-column-start: 6;}
   .l-col-start-7 {grid-column-start: 7;}
   .l-col-start-8 {grid-column-start: 8;}
   .l-col-start-9 {grid-column-start: 9;}
   .l-col-start-10   {grid-column-start: 10;}
   .l-col-start-11   {grid-column-start: 11;}
   .l-col-start-12   {grid-column-start: 12;}
   .l-col-start-13   {grid-column-start: 13;}

   .l-col-end-1   {grid-column-end: 1;}
   .l-col-end-2   {grid-column-end: 2;}
   .l-col-end-3   {grid-column-end: 3;}
   .l-col-end-4   {grid-column-end: 4;}
   .l-col-end-5   {grid-column-end: 5;}
   .l-col-end-6   {grid-column-end: 6;}
   .l-col-end-7   {grid-column-end: 7;}
   .l-col-end-8   {grid-column-end: 8;}
   .l-col-end-9   {grid-column-end: 9;}
   .l-col-end-10  {grid-column-end: 10;}
   .l-col-end-11  {grid-column-end: 11;}
   .l-col-end-12  {grid-column-end: 12;}
   .l-col-end-13  {grid-column-end: 13;}

}